name: "Unittests"

on:
  push:
    branches: [main]
  pull_request: {}
jobs:
  pytest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
        pydantic: [install_pydantic, skip_pydantic]
        cli: [install_typer, skip_typer]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: install pydantic if requested
        if: matrix.run_step == 'install_pydantic'
        run: pip install .[pydantic]
      - name: install typer if requested
        if: matrix.run_step == 'install_typer'
        run: pip install .[cli]
      - name: Run the Unit Tests via Tox
        run: |
          tox -e tests
