name: "Unittests"

on:
  push:
    branches: [main]
  pull_request: {}
jobs:
  pytest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        cli: [install_typer, skip_typer]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.workflow_run.head_branch }}
          token: ${{ github.actor == 'dependabot[bot]' && secrets.REPO_AND_READ_PACKAGES_PAT || secrets.XML_SUBMODULE_PAT }}
          # XML_SUBMODULE_PAT is a secret token on repository level with repo scope; expires in Jan2026
          # https://github.com/Hochfrequenz/xml-fundamend-python/settings/secrets/actions/XML_AHB_MIG_Token
          # REPO_AND_READ_PACKAGES_PAT is a secret token on organization level
          # https://github.com/organizations/Hochfrequenz/settings/secrets/dependabot/REPO_AND_READ_PACKAGES_PAT
          submodules: "recursive"
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: install typer if requested
        if: matrix.run_step == 'install_typer'
        run: pip install .[cli]
      - name: Run the Unit Tests via Tox
        run: |
          tox -e tests
